<p id="notice"><%= notice %></p>


<div class="container">
  <h1>Tutors Working Today</h1>
  <section class="all-tutors row">
    <% @users.each do |user| %>
      <% if !user.student && user.at_ada || user.remote %>
        <section class="one-tutor four columns available-<%= user.available %>">
          <img src="http://placebeyonce.com/200-200" />
          <% if user.available %>
            <div>
              AVAILABLE
              <% if user.at_ada %>
                AT ADA
              <% else %>
                REMOTELY
              <% end %>
            </div>
          <% end %>
          <h3><%= user.first_name %> <%= user.last_name %></h3>
          <p class="pronoun"><%= user.pronouns %></p>
          <% if user.at_ada %>
            <p><b>Physical Identifier:</b> <%= user.physical_description %></p>
          <% end %>
          <% if user.remote %>
            <p><b>How to Contact:</b> <%= user.physical_description %></p>
          <% end %>
        </section>
      <% end %>
    <% end %>
  </section>
</div>
<footer>

</footer>
