<p id="notice"><%= notice %></p>

<h1>Tutors Here Today</h1>

<section class="all-tutors">
  <% @users.each do |user| %>
    <% if user.at_ada || user.remote %>
      <section class="one-tutor available-<%= user.available %>">
        <p><%= user.first_name %> <%= user.last_name %></p>
        <p>Pronouns: <%= user.pronouns %></p>
        <p>Company: <%= user.company %></p>
        <p>Languages: <%= user.languages %></p>
        <p>Bio: <%= user.bio %></p>
        <p>Description: <%= user.physical_description %></p>
        <p>Email: <%= user.email %></p>
        <p>Twitter: @<%= user.twitter %></p>
        <p>Screenhero: <%= user.screenhero %></p>
        <p>At Ada? <%= user.at_ada %></p>
        <p>Remote? <%= user.remote %></p>
        <p>Available? <%= user.available %></p>
      </section>
    <% end %>
  <% end %>
</section>
