<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @user.twitter %>
</p>

<p>
  <strong>Screenhero:</strong>
  <%= @user.screenhero %>
</p>

<p>
  <strong>Company:</strong>
  <%= @user.company %>
</p>

<p>
  <strong>Languages:</strong>
  <%= @user.languages %>
</p>

<p>
  <strong>Pronouns:</strong>
  <%= @user.pronouns %>
</p>

<p>
  <strong>At ada:</strong>
  <%= @user.at_ada %>
</p>

<p>
  <strong>Remote:</strong>
  <%= @user.remote %>
</p>

<p>
  <strong>Available:</strong>
  <%= @user.available %>
</p>

<p>
  <strong>Physical description:</strong>
  <%= @user.physical_description %>
</p>

<p>
  <strong>Pronouns:</strong>
  <%= @user.pronouns %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
