<p id="notice"><%= notice %></p>

<p>
  <%= @user.name %>
</p>

  <strong>Pronouns:</strong>
  <%= @user.pronouns %>
</p>

<p>
  <strong>At ada:</strong>
  <%= @user.at_ada %>
</p>

<p>
  <strong>Remote:</strong>
  <%= @user.remote %>
</p>

<p>
  <strong>Available:</strong>
  <%= @user.available %>
</p>

<p>
  <strong>Physical description:</strong>
  <%= @user.physical_description %>
</p>

<p>
  <strong>Pronouns:</strong>
  <%= @user.pronouns %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
